<div class="title-container">
    <h1 class="">{{blog_post.title}}</h1> <i>{{blog_post.time}}</i>
    <br>
    

</div>
<div class="content">
{{{blog_post.review}}}
</div>
<br>

<center>
    <i> Meal Type: {{blog_post.meal_type}} </i> <br> <i>Skill Level: {{blog_post.skill_level}}</i>
    <br>
    <i>Superfoods: {{foods}}</i>
    <br>
    <br>
        <div>
        <a href = {{blog_post.link}} class="new_post">View recipe!</a>
        </div>
    <br>
</center>