<body>
    <h1>Super Foods</h1>
  
        <h2>Almond</h2>
        <ul>
            {{#each almond}}
                <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>

            {{/each}}
        </ul>
 
        <h2>Blueberry</h2>
        <ul>
            {{#each blueberry}}
                <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                </article>

            {{/each}}
        </ul>

        <h2>Broccoli</h2>
        <ul>
            {{#each broccoli}}
                <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>
            {{/each}}
        </ul>

        <h2>Egg</h2>
        <ul>
            {{#each egg}}
                <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>

            {{/each}}
        </ul>

         <h2>Green Tea</h2>
        <ul>
            {{#each green_tea}}
                 <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>

            {{/each}}
        </ul>
         
        <h2>Quinoa</h2>
        <ul>
            {{#each quinoa}}
                <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>

            {{/each}}
        </ul>

        <h2>Salmon</h2>
        <ul>
            {{#each salmon}}
                 <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>

            {{/each}}
        </ul>
 
        <h2>Spinach</h2>
        <ul>
            {{#each spinach}}
                <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>

            {{/each}}
        </ul>

        <h2>Sweet Potato</h2>
        <ul>
            {{#each sweet_potato}}
           
                 <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>

            {{/each}}
        </ul>

        <h2>Yogurt</h2>
        <ul>
            {{#each yogurt}}
                 <article>
                    <h2 class="title" ><a href="/post/{{this.title}}">{{this.title}}</a></h2> <i>{{this.time}}</i>
                    <br>
                    <br>
                    <div class="content">
                        {{{this.preview}}}...
                    </div>
                 </article>

            {{/each}}
        </ul>
         
</body>
</html>
